<nav>
    <ul>
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="enter-data.naps">Naps</a></li>
        <li><a ui-sref="enter-data.feedings">Feedings</a></li>
        <li><a ui-sref="enter-data.diapers">Diapers</a></li>
        <li><a ui-sref="enter-data.nighttime">Nighttime</a></li>
        <!-- <li><a ui-sref="login">Login</a></li> -->
        <!-- <li style="cursor: pointer" ng-click="logout()">Log Out</li> -->
    </ul>
</nav>
 <!-- ng-controller="HomeController" -->

<ui-view></ui-view>
