<!-- <h1>Manual Time Entry</h1>
<label for="start-time">Start Time:</label>
<input type="time" name="start-time" id="start-time" ng-model="startTime">
<br>
<label for="end-time">End Time:</label>
<input type="time" name="end-time" id="end-time" ng-model="endTime">
<br>
<p>Start: {{startTime}}</p>

 -->

<h1>Run Timer</h1>
<basic-timer ng-show="!manualEntry"></basic-timer>
<manual-time-entry ng-show="manualEntry"></manual-time-entry>

<div class="timer-vs-manual-options">
    <p class="or-prompt">Or</p>
    <button class="toggle-button" ng-click="manualEntry = !manualEntry">
        {{!manualEntry ? 'Enter Time Manually' : 'Use Timer'}}
    </button>
</div>
