$color-warning: tomato;
$color-success: #2ebc76;
$color-blue: #67b2c7;
$color-grey: #dbdad6;
$color-yellow: #e5bf1c;
$color-text-dark: #222;
$bg-nav: #fff;
$height-nav: 70px;
$width-timer-button: 100px;
$font-main: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@mixin absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
    font-family: $font-main;
}

body {
    margin: 0;
    padding: 0;
}
// D3 SVG

#graph-container {
    margin: auto;
    display: block;
}

.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: white;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--leaf,
.node--root {
    pointer-events: none;
}

.nav-wrapper {
    height: $height-nav;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: $bg-nav;

    a {
        text-decoration: none;
        color: $color-text-dark;
        transition: background-color 0.5s linear;

        &:active,
        &:visited {
            text-decoration: none;
            color: $color-text-dark;
        }

        &:hover,
        &.current {
            background-color: $color-yellow;
            padding: 20px;
        }
    }

    ul {
        list-style: none;
        white-space: nowrap;
        padding: 0 25px 0 0;

        li {
            display: inline-block;
            font-size: 1.2em;
            white-space: normal;
            width: calc(100%/5);
            text-align: center;
        }
    }

    &.visualize-data-nav {
        li {
            width: calc(100%/6);
        }
    }
}
@import "partials/home";
@import "partials/basic-timer";
