$color-warning: tomato;
$color-success: #2ebc76;
$color-blue: #67b2c7;
$color-grey: #dbdad6;
$width-timer-button: 100px;
$font-main: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@mixin absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
    font-family: $font-main;
}
// D3 SVG

#graph-container {
    margin: auto;
    display: block;
}

.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: white;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--leaf,
.node--root {
    pointer-events: none;
}
@import "partials/basic-timer"
