.home-container {
    h1,
    h2 {
        text-align: center;
        color: $color-text-dark;
    }

    .option-container {
        width: 60%;
        height: 100px;
        margin: auto;
        display: table;
        @media screen and (max-width: 1275px) {
            width: 80%;
        }

        .enter-data,
        .visualize-data {
            position: relative;
            display: table-cell;
            text-align: center;
            font-size: 2em;
            cursor: pointer;
            border-radius: 1px;
            color: $color-text-dark;

            span {
                @include absoluteCenter;
            }
        }

        .enter-data {
            background-color: $color-success;
        }

        .visualize-data {
            background-color: $color-blue;
        }
    }
}
