.nap-data {
    h1 {
        text-align: center;
    }

    table {
        margin: auto;
        text-align: center;

        tr {
            margin-bottom: 5px;

            td {
                padding: 10px;
            }
        }
    }
}
